target/*
work/*
/bin/*

# Java
*.class
*.jar
*.war
*.ear

# Eclipse
.settings/
.buildpath
.classpath
.project

# Logging
*.log

.idea
*.iml

# Mac OS X
.DS_Store

etc/*
node/*
node_modules/*
/npm-debug.log
/yarn.lock

# Linux backup files
*~

/target/
