target/*
work/*
/bin/*

# Java
*.class
*.jar
*.war
*.ear

# Eclipse
.settings/
.buildpath
.classpath
.project

# Logging
*.log

.idea
*.iml

# Mac OS X
.DS_Store

etc/*
node/*
node_modules/*
/npm-debug.log
/yarn.lock

### VisualStudioCode ###
.vscode/*
.factorypath

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/visualstudiocode

# Linux backup files
*~

/target/

# Others
.sts4-cache
.checkstyle
